.container.p-4
    // .row
    //     .col
    //         wiz-component-graph-v1()
    //     .col
    //         wiz-component-graph-v2()
    .row
        .col-auto
            wiz-component-graph-doughnut()
        .col
            wiz-component-card-table()
    .row.mt-3
        .col
            wiz-component-graph-line()
        .col-auto
            wiz-component-graph-bar()