nav.navbar.navbar-expand-lg.bg-light
    .container-fluid
        a.navbar-brand.mr-3(routerLink="/community/notice/list") Community
        
        button.navbar-toggler(type="button", (click)="isMenuCollapsed = !isMenuCollapsed")
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse([ngbCollapse]="isMenuCollapsed")
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link(routerLink="/community/notice/list" routerLinkActive="active") 공지사항
                li.nav-item
                    a.nav-link(routerLink="/community/board/list" routerLinkActive="active") 자유게시판
