.dropdown
    .toggle-button((click)="toggle(); $event.stopPropagation();")
        ng-container([ngTemplateOutlet]="button")
    
    .dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.show([class.show]="isOpen")
        ng-container([ngTemplateOutlet]="menu")
