.season-footer
    h1.mb-1 우리는 최신기술과 창의적인 아이디어를 통해
    h1.mb-0 세상을 더 나은 곳으로 만들기 위해 노력합니다.

    button.btn.btn-season.mt-5
        span Contact us
        .btn-circle
            i.fa-solid.fa-arrow-right

    .info
        .col
            span Copyright ⓒ 2021 BY SEASON CO.LTD All Rights Reserved.
            span Powered BY WIZ

        .col-auto(style="margin-right: 70px")
            div.mb-3
                i.fa-solid.fa-phone(style="margin-right: 10px;")
                span Support
            span TEL (044) 862-7370
            span FAX (044) 862-6588

        .col-auto
            div.mb-3
                i.fa-solid.fa-building(style="margin-right: 10px;")
                span Office
            span 219, Hannuri-daero, 503 Hanlimplaza,
            span Sejong-si, Repulic of Korea