nav.season-nav
    .col
        .logo(routerLink="/")
            img(src="/assets/logo-black.svg", height="30")
    .col
        .d-flex
            .col(routerLink="/about")
                .menu([ngClass]="menu === 1 ? 'highlight' : ''", (click)="show(0)")
                    h3.m-0 About
            .col(routerLink="/solutions")
                .menu([ngClass]="menu === 2 ? 'highlight' : ''", (click)="show(1)")
                    h3.m-0 Solutions
            .col(routerLink="/news")
                .menu([ngClass]="menu === 3 ? 'highlight' : ''", (click)="show(2)")
                    h3.m-0 News
            .col(routerLink="/career")
                .menu([ngClass]="menu === 4 ? 'highlight' : ''", (click)="show(3)")
                    h3.m-0 Career