.season-page
    .header
        h2 사람을 돕는 기술, 세상을 이끄는 변화
        span 우리는 끊임없는 기술적 혁신을 추구하며, 사람들의 삶을 더욱 편리하고 풍요롭게 만들어,
        br
        span 세상을 이끄는 변화를 만들어냅니다.

    .content.gray
        h2.mb-3 History
        
        .history
            